.code-box {
    width: 850px;
    height: 150px;
    padding: 0.5em;
    font-size: 12px;
}

.ui-resizable-se {
    bottom: 17px;
}

#ezproxyParserContainer label {
    width: 175px;
    text-align: right;
}

#ezproxyParserContainer input.userInput {
    font-size: 12px;
    width: 250px;
}

#ezproxyTestData {
    width: 200%;
    max-width: 200%;
}

#ezproxyFiles {
    width: 100%
}

.ezproxyData table {
    font-size: 12px;
    table-layout: fixed;
}

#ezproxyParserContainer table td{
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
}

.ezproxyData {
    overflow:auto;
    max-height: 400px;

}

.ui-button-text-only .ui-button-text {
    padding: .2em 1em;
    line-height: 1;
    font-size: 15px;
}

.buttons {
    padding-top: 10px;
}



.ui-menu {
    position: absolute; width: 100px;
    z-index: 100;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .available { background-color: black; }
.legend .done { background-color: green; }
.legend .changed { background-color: yellow; }
.legend .error { background-color: red; }


.doneFile {
    color:green;
}

.errorFile {
    color: red;
}

pre {
    border: none;
    background-color: transparent;
    color: #b94a48;
}