.code-box {
    width: 850px;
    height: 150px;
    padding: 0.5em;
    font-size: 12px;
}

.ui-resizable-se {
    bottom: 17px;
}

#ezproxyDirectory, #ezproxyFileRegex {
    width: 500px;
}

#ezproxyTestData {
    width: 200%
}

#ezproxyFiles {
    width: 100%
}

.ezproxyData table {
    font-size: 12px;
    table-layout: fixed;
}

#ezproxyParserContainer table td{
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
}

.ezproxyData {
    overflow:auto;
    max-height: 400px;

}

/* TODO: move this to metridoc-core?  At least the button concept, lot easier to just say "button" */
button, #ezproxyActions {
    background-color: #efefef;
    border: 0;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    font-size: 10px;
    vertical-align: middle;
}

.ui-button-text-only .ui-button-text {
    padding: .2em 1em;
    line-height: 1;
    font-size: 15px;
}



button:hover, #ezproxyActions:hover {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-menu {
    position: absolute; width: 100px;
    z-index: 100;
}

